<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340004188318-cmvqrd4pqgn5ggbk2ft3stf6lb81jp5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340004188318-cmvqrd4pqgn5ggbk2ft3stf6lb81jp5l</string>
	<key>API_KEY</key>
	<string>AIzaSyAeATyq99yw9PVqRmkz_FB8KREvQWVCZ1o</string>
	<key>GCM_SENDER_ID</key>
	<string>340004188318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flourish.theFlourishApplication</string>
	<key>PROJECT_ID</key>
	<string>mental-health-dev-env</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-dev-env.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340004188318:ios:fb8d01be6654274b038b8f</string>
	<key>DATABASE_URL</key>
	<string>https://mental-health-dev-env-default-rtdb.firebaseio.com</string>
</dict>
</plist>